.part-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  
}

.part-item {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #ffffff;
}

.part-item a {
    text-decoration: none;
    color: black;
}

.part-item a:hover {
    color: rgb(253, 50, 253);
}