.categories-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  margin: 20px auto;
}

.categories-container a {
  text-decoration: none;
  color: black;
}

.categories-container a:hover {
  color: rgb(161, 8, 154);
}

.categories-container ul {
  list-style: none;
}