.part-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  margin: 20px auto;
}

.part-container a {
    text-decoration: none;
    color: black;
}

.part-container a:hover {
    color: rgb(251, 45, 251);
}

.add-button {
    color: green;
}

.remove-button {
    color: red;
}